{{> header}}
{{> navigation}}
<div class="content">
    <div class="chirper">

        <h2 class="titlebar">Username</h2>

        {{> viewFeedForm}}

        <div id="userStats" class="user-details">
            <span>0 chirps</span> | <span>1 following</span> | <span>0 followers</span>
        </div>
    </div>
    <div id="chirps" class="chirps">
        <h2 class="titlebar">Chirps</h2>
        {{#each articles}}
            {{> viewFeedArticle}}
        {{/each}}
    </div>
</div>
{{> footer}}